/* @import "../../src/index.css"; */

@import "generic.css";
@import "logo.css";
@import "sidebar.css";

:root {
  --surface: lch(5 0 0);
  --text: lch(80 0 0);
  --white: lch(95 10 250);
  --brand: lch(57 33 256);
  --brand-alt: lch(95 10 250);

  @media (prefers-color-scheme: light) {
    --surface: white;
    --text: lch(30 0 0);
    --white: lch(100 0 0);
    --brand: lch(57 56 273)
  }
}
