@keyframes square-in-center {
  from {
    clip-path: var(--square-out);
  }
  to {
    clip-path: var(--square-in);
  }
}

[transition-style="in:square:center"] {
  animation-name: square-in-center;
}