@keyframes square-out-top-right {
  from {
    clip-path: var(--square-in);
  }
  to {
    clip-path: var(--square-top-right-out);
  }
}

[transition="out:square:top-right"] {
  animation-name: square-out-top-right;
}