@keyframes square-out-top-left {
  from {
    clip-path: var(--square-in);
  }
  to {
    clip-path: var(--square-top-left-out);
  }
}

[transition-style="out:square:top-left"] {
  --transition__duration: 1.5s;
  animation-name: square-out-top-left;
}