@keyframes square-out-center {
  from {
    clip-path: var(--square-in);
  }
  to {
    clip-path: var(--square-out);
  }
}

[transition-style="out:square:center"] {
  animation-name: square-out-center;
}