@keyframes diamond-in-double-scale {
  0% {
    clip-path: var(--diamond-center-out);
  }
  40% {
    clip-path: var(--diamond-hesitate);
  }
  100% {
    clip-path: var(--diamond-center-in);
  }
}

[transition-style="in:diamond:hesitate"] {
  --transition__duration: 1.5s;
  animation-name: diamond-in-double-scale;
}