@keyframes diamond-out-double-scale {
  0% {
    clip-path: var(--diamond-center-in);
  }
  40% {
    clip-path: var(--diamond-hesitate);
  }
  100% {
    clip-path: var(--diamond-center-out);
  }
}

[transition-style="out:diamond:hesitate"] {
  --transition__duration: 1.5s;
  animation-name: diamond-out-double-scale;
}