@keyframes circle-in-bottom-left {
  from {
    clip-path: var(--circle-center-center-out);
  }
  to {
    clip-path: var(--circle-bottom-left-in);
  }
}

[transition-style="in:circle:bottom-left"] {
  animation-name: circle-in-bottom-left;
}