@keyframes circle-in-center {
  from {
    clip-path: var(--circle-center-center-out);
  }
  to {
    clip-path: var(--circle-center-center-in);
  }
}

[transition-style="in:circle:center"] {
  animation-name: circle-in-center;
}