@keyframes circle-in-top-left {
  from {
    clip-path: var(--circle-center-center-out);
  }
  to {
    clip-path: var(--circle-top-left-in);
  }
}

[transition-style="in:circle:top-left"] {
  animation-name: circle-in-top-left;
}