@keyframes circle-in-top-right {
  from {
    clip-path: var(--circle-center-center-out);
  }
  to {
    clip-path: var(--circle-top-right-in);
  }
}

[transition-style="in:circle:top-right"] {
  animation-name: circle-in-top-right;
}