@keyframes circle-out-bottom-right {
  from {
    clip-path: var(--circle-center-center-in);
  }
  to {
    clip-path: var(--circle-bottom-right-out);
  }
}

[transition-style="out:circle:bottom-right"] {
  --transition__duration: 1.5s;
  animation-name: circle-out-bottom-right;
}