@keyframes circle-out-bottom-left {
  from {
    clip-path: var(--circle-center-center-in);
  }
  to {
    clip-path: var(--circle-bottom-left-out);
  }
}

[transition="out:circle:bottom-left"] {
  animation-name: circle-out-bottom-left;
}