@keyframes circle-out-center {
  from {
    clip-path: var(--circle-center-center-in);
  }
  to {
    clip-path: var(--circle-center-center-out);
  }
}

[transition-style="out:circle:center"] {
  animation-name: circle-out-center;
}