@keyframes circle-out-hesitate {
  0% {
    clip-path: var(--circle-center-center-in);
  }
  40% {
    clip-path: var(--circle-hesitate);
  }
  100% {
    clip-path: var(--circle-center-center-out);
  }
}

[transition-style="out:circle:hesitate"] {
  animation-name: circle-out-hesitate;
}