@keyframes circle-out-top-left {
  from {
    clip-path: var(--circle-center-center-in);
  }
  to {
    clip-path: var(--circle-top-left-out);
  }
}

[transition-style="out:circle:top-left"] {
  --transition__duration: 1.5s;
  animation-name: circle-out-top-left;
}