@keyframes wipe-cinematic-in-out {
    from {
      clip-path: var(--wipe-cinematic-in);
    }
    to {
      clip-path: var(--wipe-cinematic-out);
    }
  }

[transition-style="cinematic:wipe:out"],
[transition-style="cinematic:wipe:in"] {
  animation-name: wipe-cinematic-in-out;
}