@keyframes wipe-in-bottom {
  from {
    clip-path: var(--wipe-bottom);
  }
  to {
    clip-path: var(--wipe-in);
  }
}

[transition-in="wipe-bottom"],
[transition-in="wipe-up"] {
  animation-name: wipe-in-bottom;
}