@keyframes wipe-in-bottom-left {
  from {
    clip-path: var(--wipe-top-right-out);
  }
  to {
    clip-path: var(--wipe-bottom-left-in);
  }
}

[transition-style="in:wipe:bottom-left"] {
  animation-name: wipe-in-bottom-left;
}