@keyframes wipe-in-top-right {
  from {
    clip-path: var(--wipe-bottom-left-out);
  }
  to {
    clip-path: var(--wipe-top-right-in);
  }
}

[transition-style="in:wipe:top-right"] {
  animation-name: wipe-in-top-right;
}