@keyframes wipe-in-top-left {
  from {
    clip-path: var(--wipe-bottom-right-out);
  }
  to {
    clip-path: var(--wipe-top-left-in);
  }
}

[transition-style="in:wipe:top-left"] {
  animation-name: wipe-in-top-left;
}