@keyframes wipe-out-top {
  from {
    clip-path: var(--wipe-in);
  }
  to {
    clip-path: var(--wipe-top);
  }
}

[transition-style="out:wipe:top"],
[transition-style="out:wipe:up"] {
  animation-name: wipe-out-top;
}