@keyframes wipe-out-bottom-right {
  from {
    clip-path: var(--wipe-top-left-in);
  }
  to {
    clip-path: var(--wipe-bottom-right-out);
  }
}

[transition-style="out:wipe:bottom-right"] {
  animation-name: wipe-out-bottom-right;
}