@keyframes wipe-out-top-left {
  from {
    clip-path: var(--wipe-bottom-right-in);
  }
  to {
    clip-path: var(--wipe-top-left-out);
  }
}

[transition-style="out:wipe:top-left"] {
  animation-name: wipe-out-top-left;
}