@keyframes wipe-out-top-right {
  from {
    clip-path: var(--wipe-bottom-left-in);
  }
  to {
    clip-path: var(--wipe-top-right-out);
  }
}

[transition-style="out:wipe:top-right"] {
  animation-name: wipe-out-top-right;
}