@keyframes wipe-bottom {
  from {
    clip-path: var(--wipe-in);
  }
  to {
    clip-path: var(--wipe-bottom);
  }
}

[transition="wipe-bottom"],
[transition="wipe-down"] {
  animation-name: wipe-bottom;
}