[transition-style] {
  animation-delay: var(--transition__delay, 0);
  animation-duration: var(--transition__duration, 2.5s);
  animation-timing-function: var(--transition__easing, cubic-bezier(.25, 1, .30, 1));
  animation-fill-mode: both;
  will-change: clip-path;
}

@media print, (prefers-reduced-motion: reduce) {
  [transition-style] {
    animation-duration: 1ms !important;
    transition-duration: 1ms !important;
    animation-iteration-count: 1 !important;
  }
}